accelerate==0.23.0
aiohttp==3.8.5
aiosignal==1.3.1
async-timeout==4.0.3
attrs==23.1.0
certifi==2023.7.22
charset-normalizer==3.2.0
datasets==2.14.5
dill==0.3.7
filelock==3.12.4
frozenlist==1.4.0
fsspec==2023.6.0
huggingface-hub==0.17.3
idna==3.4
Jinja2==3.1.2
joblib==1.3.2
MarkupSafe==2.1.3
mpmath==1.3.0
multidict==6.0.4
multiprocess==0.70.15
networkx==3.1
numpy==1.26.0
packaging==23.1
pandas==2.1.1
peft==0.5.0
Pillow==10.0.1
psutil==5.9.5
pyarrow==13.0.0
python-dateutil==2.8.2
pytz==2023.3.post1
PyYAML==6.0.1
regex==2023.8.8
requests==2.31.0
safetensors==0.3.3
# scikit-learn==1.3.1
scipy==1.11.3
six==1.16.0
sympy==1.12
threadpoolctl==3.2.0
tokenizers==0.13.3
# torch==2.0.1
# torchaudio==2.0.2
# torchvision==0.15.2
tqdm==4.66.1
# transformers==4.33.3
typing_extensions==4.8.0
tzdata==2023.3
urllib3==2.0.5
xxhash==3.3.0
yarl==1.9.2
